In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 1.데이터프레임 연결

In [2]:
import pandas as pd


df1 = pd.DataFrame({'a':[0, 1, 2, 3],
                    'b':[4, 5, 6, 7],
                    'c':[8, 9, 10, 11]})
print(f"df1:\n{df1}\n")

df2 = pd.DataFrame({'b':[0, 1, 2, 3, 4],
                    'c':[5, 6, 7, 8, 9],
                    'd':[10, 11, 12, 13, 14]},
                   index = [2, 3, 4, 5 ,6])
print(f"df2:\n{df2}\n")

print(f"pd.concat([df1, df2], axis=0):\n{pd.concat([df1, df2], axis=0)}\n")
print(f"pd.concat([df1, df2], axis=0, join='inner'):\n{pd.concat([df1, df2], axis=0, join='inner')}\n")
print(f"pd.concat([df1, df2], axis=0, join='inner', ignore_index=True):\n{pd.concat([df1, df2], axis=0, join='inner', ignore_index=True)}\n")

print(f"pd.concat([df1, df2], axis=1):\n{pd.concat([df1, df2], axis=1)}\n")
print(f"pd.concat([df1, df2], axis=1, join='inner'):\n{pd.concat([df1, df2], axis=1, join='inner')}")

df1:
   a  b   c
0  0  4   8
1  1  5   9
2  2  6  10
3  3  7  11

df2:
   b  c   d
2  0  5  10
3  1  6  11
4  2  7  12
5  3  8  13
6  4  9  14

pd.concat([df1, df2], axis=0):
     a  b   c     d
0  0.0  4   8   NaN
1  1.0  5   9   NaN
2  2.0  6  10   NaN
3  3.0  7  11   NaN
2  NaN  0   5  10.0
3  NaN  1   6  11.0
4  NaN  2   7  12.0
5  NaN  3   8  13.0
6  NaN  4   9  14.0

pd.concat([df1, df2], axis=0, join='inner'):
   b   c
0  4   8
1  5   9
2  6  10
3  7  11
2  0   5
3  1   6
4  2   7
5  3   8
6  4   9

pd.concat([df1, df2], axis=0, join='inner', ignore_index=True):
   b   c
0  4   8
1  5   9
2  6  10
3  7  11
4  0   5
5  1   6
6  2   7
7  3   8
8  4   9

pd.concat([df1, df2], axis=1):
     a    b     c    b    c     d
0  0.0  4.0   8.0  NaN  NaN   NaN
1  1.0  5.0   9.0  NaN  NaN   NaN
2  2.0  6.0  10.0  0.0  5.0  10.0
3  3.0  7.0  11.0  1.0  6.0  11.0
4  NaN  NaN   NaN  2.0  7.0  12.0
5  NaN  NaN   NaN  3.0  8.0  13.0
6  NaN  NaN   NaN  4.0  9.0  14.0

pd.concat([df1, df2], axis=1, join='inner'):
   a  b   c  b  c   d
2  2  6  10  0  5  10
3  3  7  11  1  6  11

In [3]:
sr1 = pd.Series(['e0', 'e1', 'e2', 'e3'], name='e')
sr2 = pd.Series(['f0', 'f1', 'f2',], name='f')
sr3 = pd.Series(['g0', 'g1', 'g2', 'g3'], name='g')

print(f"pd.concat([df1, sr1], axis=1):\n{pd.concat([df1, sr1], axis=1)}\n")
print(f"pd.concat([sr1, sr2],axis=1):\n{pd.concat([sr1, sr2], axis=1)}\n")
print(f"pd.concat([sr1, sr2],axis=0):\n{pd.concat([sr1, sr2], axis=0)}")

pd.concat([df1, sr1], axis=1):
   a  b   c   e
0  0  4   8  e0
1  1  5   9  e1
2  2  6  10  e2
3  3  7  11  e3

pd.concat([sr1, sr2],axis=1):
    e    f
0  e0   f0
1  e1   f1
2  e2   f2
3  e3  NaN

pd.concat([sr1, sr2],axis=0):
0    e0
1    e1
2    e2
3    e3
0    f0
1    f1
2    f2
dtype: object

## 2.데이터프레임 병합

In [4]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width', True) # 유니코드 사용 너비 조정

df1 = pd.read_excel('/content/drive/MyDrive/github/딥러닝을 위한 파이썬/Pandas/data/05000266/part6/stock price.xlsx')
df2 = pd.read_excel('/content/drive/MyDrive/github/딥러닝을 위한 파이썬/Pandas/data/05000266/part6/stock valuation.xlsx')

print(f"df1:\n{df1}\n")
print(f"df2:\n{df2}")

df1:
       id    stock_name          value   price
0  128940      한미약품   59385.666667  421000
1  130960        CJ E&M   58540.666667   98900
2  138250    엔에스쇼핑   14558.666667   13200
3  139480        이마트  239230.833333  254500
4  142280  녹십자엠에스     468.833333   10200
5  145990        삼양사   82750.000000   82000
6  185750        종근당   40293.666667  100500
7  192400    쿠쿠홀딩스  179204.666667  177500
8  199800          툴젠   -2514.333333  115400
9  204210  모두투어리츠    3093.333333    3475

df2:
       id              name           eps     bps        per       pbr
0  130960            CJ E&M   6301.333333   54068  15.695091  1.829178
1  136480              하림    274.166667    3551  11.489362  0.887074
2  138040    메리츠금융지주   2122.333333   14894   6.313806  0.899691
3  139480            이마트  18268.166667  295780  13.931338  0.860437
4  145990            삼양사   5741.000000  108090  14.283226  0.758627
5  161390        한국타이어   5648.500000   51341   7.453306  0.820007
6  181710   NHN엔터테인먼트   2110.166667   78434  30.755864  0.827447
7  185750            종근당   3990.333333   40684  25.185866  2.470259
8  204210      모두투어리츠     85.166667    5335  40.802348  0.651359
9  207940  삼성바이오로직스   4644.166667   60099  89.790059  6.938551

In [5]:
pd.merge(df1, df2, how='inner', on=None)

       id    stock_name          value  ...     bps        per       pbr
0  130960        CJ E&M   58540.666667  ...   54068  15.695091  1.829178
1  139480        이마트  239230.833333  ...  295780  13.931338  0.860437
2  145990        삼양사   82750.000000  ...  108090  14.283226  0.758627
3  185750        종근당   40293.666667  ...   40684  25.185866  2.470259
4  204210  모두투어리츠    3093.333333  ...    5335  40.802348  0.651359

[5 rows x 9 columns]

In [6]:
pd.merge(df1, df2, how='outer', on='id')

        id    stock_name          value  ...       bps        per       pbr
0   128940      한미약품   59385.666667  ...       NaN        NaN       NaN
1   130960        CJ E&M   58540.666667  ...   54068.0  15.695091  1.829178
2   138250    엔에스쇼핑   14558.666667  ...       NaN        NaN       NaN
3   139480        이마트  239230.833333  ...  295780.0  13.931338  0.860437
4   142280  녹십자엠에스     468.833333  ...       NaN        NaN       NaN
5   145990        삼양사   82750.000000  ...  108090.0  14.283226  0.758627
6   185750        종근당   40293.666667  ...   40684.0  25.185866  2.470259
7   192400    쿠쿠홀딩스  179204.666667  ...       NaN        NaN       NaN
8   199800          툴젠   -2514.333333  ...       NaN        NaN       NaN
9   204210  모두투어리츠    3093.333333  ...    5335.0  40.802348  0.651359
10  136480           NaN            NaN  ...    3551.0  11.489362  0.887074
11  138040           NaN            NaN  ...   14894.0   6.313806  0.899691
12  161390           NaN            NaN  ...   51341.0   7.453306  0.820007
13  181710           NaN            NaN  ...   78434.0  30.755864  0.827447
14  207940           NaN            NaN  ...   60099.0  89.790059  6.938551

[15 rows x 9 columns]

In [7]:
pd.merge(df1, df2, how='left', left_on='stock_name', right_on='name')

     id_x    stock_name          value  ...       bps        per       pbr
0  128940      한미약품   59385.666667  ...       NaN        NaN       NaN
1  130960        CJ E&M   58540.666667  ...   54068.0  15.695091  1.829178
2  138250    엔에스쇼핑   14558.666667  ...       NaN        NaN       NaN
3  139480        이마트  239230.833333  ...  295780.0  13.931338  0.860437
4  142280  녹십자엠에스     468.833333  ...       NaN        NaN       NaN
5  145990        삼양사   82750.000000  ...  108090.0  14.283226  0.758627
6  185750        종근당   40293.666667  ...   40684.0  25.185866  2.470259
7  192400    쿠쿠홀딩스  179204.666667  ...       NaN        NaN       NaN
8  199800          툴젠   -2514.333333  ...       NaN        NaN       NaN
9  204210  모두투어리츠    3093.333333  ...    5335.0  40.802348  0.651359

[10 rows x 10 columns]

In [8]:
pd.merge(df1, df2, how='right', left_on='stock_name', right_on='name')

       id_x    stock_name          value  ...     bps        per       pbr
0  130960.0        CJ E&M   58540.666667  ...   54068  15.695091  1.829178
1       NaN           NaN            NaN  ...    3551  11.489362  0.887074
2       NaN           NaN            NaN  ...   14894   6.313806  0.899691
3  139480.0        이마트  239230.833333  ...  295780  13.931338  0.860437
4  145990.0        삼양사   82750.000000  ...  108090  14.283226  0.758627
5       NaN           NaN            NaN  ...   51341   7.453306  0.820007
6       NaN           NaN            NaN  ...   78434  30.755864  0.827447
7  185750.0        종근당   40293.666667  ...   40684  25.185866  2.470259
8  204210.0  모두투어리츠    3093.333333  ...    5335  40.802348  0.651359
9       NaN           NaN            NaN  ...   60099  89.790059  6.938551

[10 rows x 10 columns]

In [9]:
# boolean indexing
price = df1.loc[df1['price'] < 50000]
print(f"price < 50000:\n{price}\n")

pd.merge(price, df2, how='inner', on='id')

price < 50000:
       id    stock_name         value  price
2  138250    엔에스쇼핑  14558.666667  13200
4  142280  녹십자엠에스    468.833333  10200
9  204210  모두투어리츠   3093.333333   3475

       id    stock_name        value  ...   bps        per       pbr
0  204210  모두투어리츠  3093.333333  ...  5335  40.802348  0.651359

[1 rows x 9 columns]

## 3.데이터 프레임 결합

In [10]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width', True) # 유니코드 사용 너비 조정

df1 = pd.read_excel('/content/drive/MyDrive/github/딥러닝을 위한 파이썬/Pandas/data/05000266/part6/stock price.xlsx', index_col='id')
df2 = pd.read_excel('/content/drive/MyDrive/github/딥러닝을 위한 파이썬/Pandas/data/05000266/part6/stock valuation.xlsx', index_col='id')

print(f"df1:\n{df1}\n")
print(f"df2:\n{df2}")

df1:
          stock_name          value   price
id
128940      한미약품   59385.666667  421000
130960        CJ E&M   58540.666667   98900
138250    엔에스쇼핑   14558.666667   13200
139480        이마트  239230.833333  254500
142280  녹십자엠에스     468.833333   10200
145990        삼양사   82750.000000   82000
185750        종근당   40293.666667  100500
192400    쿠쿠홀딩스  179204.666667  177500
199800          툴젠   -2514.333333  115400
204210  모두투어리츠    3093.333333    3475

df2:
                    name           eps     bps        per       pbr
id
130960            CJ E&M   6301.333333   54068  15.695091  1.829178
136480              하림    274.166667    3551  11.489362  0.887074
138040    메리츠금융지주   2122.333333   14894   6.313806  0.899691
139480            이마트  18268.166667  295780  13.931338  0.860437
145990            삼양사   5741.000000  108090  14.283226  0.758627
161390        한국타이어   5648.500000   51341   7.453306  0.820007
181710   NHN엔터테인먼트   2110.166667   78434  30.755864  0.827447
185750            종근당   3990.333333   40684  25.185866  2.470259
204210      모두투어리츠     85.166667    5335  40.802348  0.651359
207940  삼성바이오로직스   4644.166667   60099  89.790059  6.938551

In [11]:
df1.join(df2)

          stock_name          value   price  ...       bps        per       pbr
id                                           ...
128940      한미약품   59385.666667  421000  ...       NaN        NaN       NaN
130960        CJ E&M   58540.666667   98900  ...   54068.0  15.695091  1.829178
138250    엔에스쇼핑   14558.666667   13200  ...       NaN        NaN       NaN
139480        이마트  239230.833333  254500  ...  295780.0  13.931338  0.860437
142280  녹십자엠에스     468.833333   10200  ...       NaN        NaN       NaN
145990        삼양사   82750.000000   82000  ...  108090.0  14.283226  0.758627
185750        종근당   40293.666667  100500  ...   40684.0  25.185866  2.470259
192400    쿠쿠홀딩스  179204.666667  177500  ...       NaN        NaN       NaN
199800          툴젠   -2514.333333  115400  ...       NaN        NaN       NaN
204210  모두투어리츠    3093.333333    3475  ...    5335.0  40.802348  0.651359

[10 rows x 8 columns]

In [12]:
df1.join(df2, how='inner')

          stock_name          value   price  ...     bps        per       pbr
id                                           ...
130960        CJ E&M   58540.666667   98900  ...   54068  15.695091  1.829178
139480        이마트  239230.833333  254500  ...  295780  13.931338  0.860437
145990        삼양사   82750.000000   82000  ...  108090  14.283226  0.758627
185750        종근당   40293.666667  100500  ...   40684  25.185866  2.470259
204210  모두투어리츠    3093.333333    3475  ...    5335  40.802348  0.651359

[5 rows x 8 columns]