In [1]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'sex', 'class', 'fare', 'survived']]

grouped = df.groupby(['class', 'sex'])

# 그룹별 평균 구하기
g_mean = grouped.mean()
print(f"그룹별 평균:\n{g_mean}\n")

# class가 First인 행을 선택
print(f"class:First\n{g_mean.loc['First']}\n")

# class: First sex:male 선택
print(f"class:First, sex:male\n{g_mean.loc[('First', 'male')]}\n")

# xs 인덱서 사용
print(g_mean.xs('male', level='sex'))

그룹별 평균:
                     age        fare  survived
class  sex
First  female  34.611765  106.125798  0.968085
       male    41.281386   67.226127  0.368852
Second female  28.722973   21.970121  0.921053
       male    30.740707   19.741782  0.157407
Third  female  21.750000   16.118810  0.500000
       male    26.507589   12.661633  0.135447

class:First
              age        fare  survived
sex
female  34.611765  106.125798  0.968085
male    41.281386   67.226127  0.368852

class:First, sex:male
age         41.281386
fare        67.226127
survived     0.368852
Name: (First, male), dtype: float64

              age       fare  survived
class
First   41.281386  67.226127  0.368852
Second  30.740707  19.741782  0.157407
Third   26.507589  12.661633  0.135447